.container {
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.94);
}
.header {
    width: 1440px;
    height: 112px;
    position: absolute;
    left: -1px;
    top: -1px;
    background: #a3ff94;
}
.menu-title {
    position: absolute;
    left: 193px;
    top: 5px;
    font-size: 36px;
    text-align: left;
    color: #000;
}
.brand-title {
    width: 117px;
    height: 42px;
    position: absolute;
    left: 61px;
    top: 33px;
    font-size: 36px;
    text-align: left;
    color: #000;
}
.brand-title span {
    width: 117px;
    height: 42px;
    font-size: 36px;
    text-align: left;
    color: #000;
}
article{
    float: left;
    margin-left: 10px;
}
.image {
    object-fit: cover;
}
.image01 { 
    width: 385px;
    height: 250px;
    border-radius: 20px;
}
.image02 {
    width: 385px;
    height: 250px;
    border-radius: 20px;
}
.image03 {
    width: 460px;
    height: 457px;
    position: absolute;
    left: 979px;
    top: 566px;
}
.image04 {
    width: 385px;
    height: 250px;
    border-radius: 20px;
}
.image05 {
    width: 449px;
    height: 457px;
    position: absolute;
    left: 60px;
    top: 111px;
}
.image06 {
    width: 444px;
    height: 458px;
    position: absolute;
    left: 522px;
    top: 108px;
}