.container {
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.94);
}
.header {
    width: 1440px;
    height: 112px;
    position: absolute;
    left: -1px;
    top: -1px;
    background: #a3ff94;
}
.menu-title {
    position: absolute;
    left: 193px;
    top: 5px;
    font-size: 36px;
    text-align: left;
    color: #000;
}
.brand-title {
    width: 117px;
    height: 42px;
    position: absolute;
    left: 61px;
    top: 33px;
    font-size: 36px;
    text-align: left;
    color: #000;
}
.brand-title span {
    width: 117px;
    height: 42px;
    font-size: 36px;
    text-align: left;
    color: #000;
}
.image {
    object-fit: cover;
}
.image-1 { 
    width: 460px;
    height: 455px;
    position: absolute;
    left: 979px;
    top: 111px;
}
.image-2 {
    width: 450px;
    height: 457px;
    position: absolute;
    left: 60px;
    top: 566px;
}
.image-3 {
    width: 460px;
    height: 457px;
    position: absolute;
    left: 979px;
    top: 566px;
}
.image-4 {
    width: 444px;
    height: 455px;
    position: absolute;
    left: 522px;
    top: 566px;
}
.image-5 {
    width: 449px;
    height: 457px;
    position: absolute;
    left: 60px;
    top: 111px;
}
.image-6 {
    width: 444px;
    height: 458px;
    position: absolute;
    left: 522px;
    top: 108px;
}